.wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-component {
  width: min(80%, 350px);
  background-color: hsl(213, 19%, 18%);
  padding: 2rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rating-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 2rem;
}

.submit-rating-button {
  color: hsl(0, 0%, 100%);
  letter-spacing: 2px;
  background-color: hsl(25, 97%, 53%);
  width: 95%;
  padding: 0.75em;
  border-radius: 30px;
  transition-duration: 100ms;
}

.submit-rating-button:hover {
  color: hsl(25, 97%, 53%);
  background-color: hsl(0, 0%, 100%);
}

.rating-button {
  background-color: hsl(214, 16%, 20%);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 1rem;
  color: hsl(217, 12%, 63%);
  transition-delay: 100ms;
}

.rating-button:hover {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}

h1 {
  color: hsl(0, 0%, 100%);
}

p {
  color: hsl(217, 12%, 63%);
}

button {
  border: none;
  background-color: inherit;
  color: inherit;
  font: inherit;
  padding: 0;
}
