body {
  background-color: hsl(216, 9%, 11%);
}

.wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: min(75%, 350px);
  background-color: hsl(213, 19%, 18%);
  padding: 2rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

h1 {
  color: hsl(0, 0%, 100%);
  align-self: flex-start;
}

p {
  color: hsl(217, 12%, 63%);
}

button {
  border: none;
  background-color: inherit;
  color: inherit;
  font: inherit;
  padding: 0;
  cursor: pointer;
}
